*{
    font-family: Helvetica;
}
#baner, footer{
    background-color: #B3BC6D;
    color: white;
    text-align: center;
    padding: 5px;
}
#dane{
    background-color: #FFFFCE;
    color: olive;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
}
#lewy, #prawy{
    float: left;
    background-color: #E6EE9C;
    width: 25%;
    height: 450px;
    text-align: center;
}
#srodek{
    float: left;
    background-color: #FFFFCE;
    width: 50%;
    height: 450px;
}
table{
    border: 1px solid olive;
    margin: auto;
    width: 70%;
}
h2{
    text-align: center;
    
}
img{
    height: 100px;
    padding: 7px;
}
img:hover{
    background-color: #B3BC6D;
}
footer{
    clear: both;
}